[Desktop Entry]
Type=Application
Name=MetaTrader 5 Client Terminal
MimeType=x-scheme-handler/mql5buy;
Exec=env WINEPREFIX="/Users/macminisuper/Library/Application Support/net.metaquotes.wine.metatrader5" wine start %u
NoDisplay=true
StartupNotify=true
Icon=1967_terminal64.0
