[Desktop Entry]
Type=Application
Name=wscript
MimeType=application/x-wine-extension-vbs;
Exec=env WINEPREFIX="/Users/macminisuper/Library/Application Support/net.metaquotes.wine.metatrader5" wine start /ProgIDOpen VBSFile %f
NoDisplay=true
StartupNotify=true
Icon=2905_wscript.0
